.grid {
    background-color: white;
    color: var(--color-texto);
    flex:auto;
    text-align: center;
    padding: 1rem;
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    padding: 2rem;
}
.contenedor{
  width: 100%;
  padding: 20px;
  border: solid 3px white;
  border-radius: 5px;
  box-shadow: 0 2px 6px white;
}
.titulo{
  margin: 0 0 30px 0;
  text-align: center;
  font-size: 32px;
  line-height: 1.4;
}